# INTRODUCTION TO PYTHON FOR DATA SCIENCE

## _Python Fundamentals through Examples_

## EIPA
online, September 18 - 22, 2023

### [Dr. Christian Kauth](https://www.linkedin.com/in/ckauth/)

# SQL

- Learn more: https://www.w3schools.com/sql/

## RDBMS
_Relational Database Management Systems_ use slightly different [flavours of the **Structured Query Language (SQL)**](https://towardsdatascience.com/the-many-flavours-of-sql-7b7da5d56c1e) to access and make changes to the data. But the concepts, structures and operations are largely identical.

- Oracle
- MySQL
- Microsoft SQL Server
- PostgreSQL
- IBM DB2

## MySQL Server

### Install & Configure

In [1]:
# install mysql-server
!apt install -q mysql-server

Reading package lists...
Building dependency tree...
Reading state information...
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server-8.0
  mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl
  mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl
  libfcgi-bin libfcgi-perl libfcgi0ldbl libhtml-parser-perl
  libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2
  libprotobuf-lite23 liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils
  mysql-client-8.0 mysql-client-core-8.0 mysql-server mysql-server-8.0
  mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 18 not upgraded.
Need to get 29.5 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [2,754 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [17.5 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.34-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.34-0ubuntu0.22.04.1 [9,460 B]
Fetched 29.5 MB in 1s (25.5 MB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 120895 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.34-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.34-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.34-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.34-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.34-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 978
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.34-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.1) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

In [2]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [3]:
## set `root`password to `secret` (not very safe)
!sudo mysql
#ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'secret';
#quit

Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 10
Server version: 8.0.34-0ubuntu0.22.04.1 (Ubuntu)

Copyright (c) 2000, 2023, Oracle and/or its affiliates.

Oracle is a registered trademark of Oracle Corporation and/or its
affiliates. Other names may be trademarks of their respective
owners.

Type 'help;' or '\h' for help. Type '\c' to clear the current input statement.

mysql> ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 's ecret';
Query OK, 0 rows affected (0.02 sec)

mysql> quit
Bye

### Start MySQL server

In [4]:
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

### Connect to MySQL server

In [5]:
# install mysql-connector for python
!pip -qq install mysql-connector-python

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 31.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 32.8 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-metadata 1.14.0 requires protobuf<4.21,>=3.20.3, but you have protobuf 4.21.12 which is incompatible.

In [6]:
import mysql.connector
from mysql.connector import Error

In [7]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Server connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [8]:
connection = create_server_connection('localhost', 'root', 'secret')

MySQL Server connection successful

### Shut down MySQL server

In [9]:
!service mysql stop

 * Stopping MySQL database server mysqld
   ...done.

In [10]:
connection = create_server_connection('localhost', 'root', 'secret')

Error: '2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)'

## Create new DB

In [11]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [12]:
connection = create_server_connection('localhost', 'root', 'secret')

MySQL Server connection successful

In [13]:
def create_database(connection, db_name):
    cursor = connection.cursor()
    query = f'CREATE DATABASE {db_name}'
    try:
        cursor.execute(query)
        print(f"Database `{db_name}` created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [14]:
create_database(connection, 'eurostat')

Database `eurostat` created successfully

In [15]:
create_database(connection, 'eurostat')

Error: '1007 (HY000): Can't create database 'eurostat'; database exists'

### Check if database exists

In [16]:
connection = create_server_connection('localhost', 'root', 'secret')
cursor = connection.cursor()
cursor.execute('SHOW DATABASES')

for db in cursor:
  print(db)

MySQL Server connection successful
('eurostat',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

### Connect to Database

In [17]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print(f"MySQL Database connection to '{db_name}' successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [18]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')

MySQL Database connection to 'eurostat' successful

## Create new Table

In [19]:
create_waste_table = """
CREATE TABLE waste (
  waste_id VARCHAR(7) PRIMARY KEY,
  waste_name VARCHAR(30) NOT NULL
  );
"""

connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute(create_waste_table)

MySQL Database connection to 'eurostat' successful

### Check if table already exists

In [20]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute('SHOW TABLES')

for table in cursor:
  print(table)

MySQL Database connection to 'eurostat' successful
('waste',)

## Create

Important! Notice the statement: `cursor.commit()`. It is required to make the changes, otherwise no changes are made to the table.

### one

In [21]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()

sql = "INSERT INTO waste (waste_id, waste_name) VALUES (%s, %s)"
val = ("W150101", "Paper and cardboard packaging")
cursor.execute(sql, val)

connection.commit()

print(cursor.rowcount, "record inserted.")

MySQL Database connection to 'eurostat' successful
1 record inserted.

In [22]:
def add_to_table(val):
  connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
  cursor = connection.cursor()

  sql = "INSERT INTO waste (waste_id, waste_name) VALUES (%s, %s)"
  cursor.execute(sql, val)

  connection.commit()

  print(cursor.rowcount, "record inserted.")

add_to_table(("Y150101", "Paper and cardboard packaging"))

MySQL Database connection to 'eurostat' successful
1 record inserted.

### many

In [23]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()

sql = "INSERT INTO waste (waste_id, waste_name) VALUES (%s, %s)"
val = [('W150102', 'Plastic packaging'),
       ('W150103', 'Wooden packaging'),
       ('W150104', 'Metallic packaging'),
       ('W150107', 'Glass packaging'),
       ('W150199', 'Other packaging')]
cursor.executemany(sql, val)

connection.commit()

print(cursor.rowcount, "records inserted.")

MySQL Database connection to 'eurostat' successful
5 records inserted.

## Read
- `fetchone`
- `fetchall`

In [24]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute("SELECT * FROM waste")

results = cursor.fetchall()
for x in results:
  print(x)

MySQL Database connection to 'eurostat' successful
('W150101', 'Paper and cardboard packaging')
('W150102', 'Plastic packaging')
('W150103', 'Wooden packaging')
('W150104', 'Metallic packaging')
('W150107', 'Glass packaging')
('W150199', 'Other packaging')
('Y150101', 'Paper and cardboard packaging')

In [25]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute("SELECT waste_name FROM waste")

results = cursor.fetchall()
for x in results:
  print(x)

MySQL Database connection to 'eurostat' successful
('Paper and cardboard packaging',)
('Plastic packaging',)
('Wooden packaging',)
('Metallic packaging',)
('Glass packaging',)
('Other packaging',)
('Paper and cardboard packaging',)

### Where

In [26]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute("SELECT * FROM waste WHERE waste_id = 'W150103'")

results = cursor.fetchall()
for x in results:
  print(x)

MySQL Database connection to 'eurostat' successful
('W150103', 'Wooden packaging')

In [27]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute("SELECT * FROM waste WHERE waste_name LIKE '%ic%'")

results = cursor.fetchall()
for x in results:
  print(x)

MySQL Database connection to 'eurostat' successful
('W150102', 'Plastic packaging')
('W150104', 'Metallic packaging')

### Order By

In [28]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute("SELECT * FROM waste ORDER BY waste_name DESC")

results = cursor.fetchall()
for x in results:
  print(x)

MySQL Database connection to 'eurostat' successful
('W150103', 'Wooden packaging')
('W150102', 'Plastic packaging')
('W150101', 'Paper and cardboard packaging')
('Y150101', 'Paper and cardboard packaging')
('W150199', 'Other packaging')
('W150104', 'Metallic packaging')
('W150107', 'Glass packaging')

## Update

In [29]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute("UPDATE waste SET waste_name = 'other' WHERE waste_id = 'W150199'")

connection.commit()

print(cursor.rowcount, "record(s) affected")

MySQL Database connection to 'eurostat' successful
1 record(s) affected

## Delete

In [30]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute("DELETE FROM waste WHERE waste_name LIKE '%ic%'")

connection.commit()

print(cursor.rowcount, "records deleted.")

MySQL Database connection to 'eurostat' successful
2 records deleted.

# SQL & DF

### from DF to SQL

In [31]:
!pip install -q PyMySQL

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 804.1 kB/s eta 0:00:00

### get Data from Eurostat

In [32]:
!wget https://kauthentechstorage.blob.core.windows.net/datasets/env_waspacr_spreadsheet.xlsx

--2023-09-22 06:16:46--  https://kauthentechstorage.blob.core.windows.net/datasets/env_waspacr_spreadsheet.xlsx
Resolving kauthentechstorage.blob.core.windows.net (kauthentechstorage.blob.core.windows.net)... 52.239.140.42
Connecting to kauthentechstorage.blob.core.windows.net (kauthentechstorage.blob.core.windows.net)|52.239.140.42|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 88544 (86K) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘env_waspacr_spreadsheet.xlsx’

env_waspacr_spreads 100%[===================>]  86.47K   287KB/s    in 0.3s

2023-09-22 06:16:47 (287 KB/s) - ‘env_waspacr_spreadsheet.xlsx’ saved [88544/88544]

### load from Excel

In [33]:
import pandas as pd

filename = 'env_waspacr_spreadsheet.xlsx'

df = pd.read_excel(filename,
                   sheet_name='Structure',
                   header=1,
                   usecols='B:C')

df.drop([0], inplace=True)
df

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

           Dimension                       Position
1     Time frequency                         Annual
2   Waste categories                      Packaging
3   Waste categories  Paper and cardboard packaging
4   Waste categories              Plastic packaging
5   Waste categories               Wooden packaging
..               ...                            ...
65              Time                           2016
66              Time                           2017
67              Time                           2018
68              Time                           2019
69              Time                           2020

[69 rows x 2 columns]

In [34]:
geo_entities = df[df['Dimension'] == 'Geopolitical entity (reporting)']['Position'].values
geo_entities

array(['European Union - 27 countries (from 2020)',
       'European Union - 28 countries (2013-2020)', 'Belgium', 'Bulgaria',
       'Czechia', 'Denmark',
       'Germany (until 1990 former territory of the FRG)', 'Estonia',
       'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'Iceland',
       'Liechtenstein', 'Norway', 'United Kingdom',
       'Northern Ireland (UK)'], dtype=object)

In [35]:
import numpy as np

def load_sheet(n, geo_entities):
  df = pd.read_excel(filename,
                     sheet_name=f'Sheet {n}',
                     header=8,
                     index_col='TIME')

  # every second column is empty, remove them
  columns = df.columns[::2]

  # keep only rows of 'geo_entities'
  df = df.loc[geo_entities]

  # transform data to type 'float' by replacing ':' by 'np.nan'
  df.replace(':', np.nan, inplace=True)

  return df[columns]

df = load_sheet(1, geo_entities)
df.sample(5)

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
TIME,,,,,,,,,,,,,,,,,,,,,
Finland,41.7,44.6,49.5,49.8,47.2,49.2,40.8,39.9,43.2,49.1,...,58.7,59.3,58.0,57.4,60.9,64.7,65.2,70.2,70.6,NaN
Ireland,15.2,14.8,17.4,18.9,27.0,34.9,51.2,56.4,55.6,54.5,...,70.9,74.0,70.2,68.3,67.5,67.0,65.6,63.9,62.5,62.4
European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.7,56.8,...,64.2,65.2,65.4,66.5,66.6,67.6,67.5,65.6,64.4,64.3
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,11.1,25.2,...,52.0,55.3,56.6,58.7,59.8,64.6,66.2,70.2,66.8,NaN
Greece,37.0,34.6,33.6,33.3,33.4,32.6,33.1,36.7,41.8,42.8,...,62.1,58.6,52.4,53.8,60.3,66.1,68.6,63.6,60.1,NaN

In [36]:
df.rename(columns={c: f'_{c}' for c in df.columns}, inplace=True)

In [37]:
df.sample(5)

,_1997,_1998,_1999,_2000,_2001,_2002,_2003,_2004,_2005,_2006,...,_2011,_2012,_2013,_2014,_2015,_2016,_2017,_2018,_2019,_2020
TIME,,,,,,,,,,,,,,,,,,,,,
France,39.7,41.5,42.1,42.2,44.0,45.4,47.9,50.7,53.3,54.8,...,61.3,64.9,66.4,65.2,65.5,66.0,68.1,63.5,65.6,60.3
Portugal,NaN,34.8,34.9,30.8,37.7,35.8,38.3,41.0,44.3,51.4,...,58.4,56.9,61.5,61.0,57.1,60.9,55.3,57.9,62.8,59.8
United Kingdom,24.1,28.2,35.3,39.9,42.4,44.2,46.8,49.7,54.4,57.5,...,60.8,61.4,64.6,59.2,60.6,64.7,63.9,62.1,NaN,NaN
Austria,64.5,64.9,65.6,69.4,64.3,65.9,64.2,66.2,66.9,68.4,...,65.8,65.9,66.6,66.6,67.1,66.8,65.6,65.5,65.4,63.7
Ireland,15.2,14.8,17.4,18.9,27.0,34.9,51.2,56.4,55.6,54.5,...,70.9,74.0,70.2,68.3,67.5,67.0,65.6,63.9,62.5,62.4

In [38]:
len(df)

34

In [39]:
from sqlalchemy import create_engine, VARCHAR, types
import pymysql

#dialect+driver://username:password@host:port/database
engine = create_engine("mysql+pymysql://root:secret@localhost/eurostat")
connection = engine.connect()

df.to_sql(
    name='data',
    con=connection,
    if_exists='replace',
    dtype={'TIME': VARCHAR(df.index.get_level_values('TIME').str.len().max()),
           **{col_name: types.Float(precision=3, asdecimal=True) for col_name in df.columns}
    }
)

# Commit the transaction
connection.commit()

In [40]:
connection = create_db_connection('localhost', 'root', 'secret', 'eurostat')
cursor = connection.cursor()
cursor.execute('SHOW TABLES')

for table in cursor:
  print(table)

MySQL Database connection to 'eurostat' successful
('data',)
('waste',)

### from SQL to DF

In [41]:
#dialect+driver://username:password@host:port/database
engine = create_engine("mysql+pymysql://root:secret@localhost/eurostat")
connection = engine.connect()

sql_query = 'data'
df1 = pd.read_sql(sql_query, connection, index_col='TIME')
df1

,_1997,_1998,_1999,_2000,_2001,_2002,_2003,_2004,_2005,_2006,...,_2011,_2012,_2013,_2014,_2015,_2016,_2017,_2018,_2019,_2020
TIME,,,,,,,,,,,,,,,,,,,,,
European Union - 27 countries (from 2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.7,56.8,...,64.2,65.2,65.4,66.5,66.6,67.6,67.5,65.6,64.4,64.3
European Union - 28 countries (2013-2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.6,56.9,...,63.8,64.7,65.3,65.5,65.8,67.2,67.0,65.1,NaN,NaN
Belgium,62.3,63.5,59.4,62.5,71.3,70.2,73.9,76.4,76.8,79.0,...,80.2,80.3,78.7,81.3,81.5,81.9,83.8,85.3,83.5,79.7
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.8,35.0,...,65.1,66.5,65.7,62.0,64.1,63.8,65.6,60.4,61.2,NaN
Czechia,NaN,NaN,NaN,NaN,NaN,NaN,51.4,55.7,59.0,63.4,...,69.7,69.9,69.9,73.0,74.3,75.3,72.3,69.6,71.2,67.9
Denmark,40.1,50.0,53.0,55.7,57.2,57.3,53.8,53.2,52.5,56.2,...,54.3,61.6,69.8,69.8,73.9,79.0,71.5,70.1,70.4,64.0
Germany (until 1990 former territory of the FRG),80.6,79.7,79.2,78.0,75.9,74.4,70.6,69.6,68.2,66.5,...,71.8,71.3,71.8,71.4,69.3,70.7,69.9,68.5,63.2,68.1
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.5,40.3,45.7,...,62.9,61.3,58.4,60.3,59.0,56.0,53.5,60.4,66.2,71.4
Ireland,15.2,14.8,17.4,18.9,27.0,34.9,51.2,56.4,55.6,54.5,...,70.9,74.0,70.2,68.3,67.5,67.0,65.6,63.9,62.5,62.4
Greece,37.0,34.6,33.6,33.3,33.4,32.6,33.1,36.7,41.8,42.8,...,62.1,58.6,52.4,53.8,60.3,66.1,68.6,63.6,60.1,NaN
Spain,33.5,33.6,37.9,39.8,43.6,44.3,43.1,47.4,50.4,54.0,...,63.9,65.5,66.6,68.7,68.4,70.3,68.5,68.8,69.6,68.2
France,39.7,41.5,42.1,42.2,44.0,45.4,47.9,50.7,53.3,54.8,...,61.3,64.9,66.4,65.2,65.5,66.0,68.1,63.5,65.6,60.3
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,59.7,58.8,52.7,60.1,54.7,53.3,58.4,48.9,54.2
Italy,3.0,31.6,34.0,38.4,45.5,51.4,51.4,53.3,53.7,54.9,...,64.5,66.6,66.7,65.4,66.8,66.9,67.1,68.3,69.6,NaN
Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,11.1,25.2,...,52.0,55.3,56.6,58.7,59.8,64.6,66.2,70.2,66.8,NaN
Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.6,47.0,42.2,...,50.9,51.1,51.0,54.9,53.9,57.7,58.7,55.8,62.4,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.7,32.5,37.0,...,62.2,62.2,53.5,57.7,59.8,69.5,61.8,60.7,61.9,61.8
Luxembourg,38.4,41.8,39.8,45.2,57.3,56.8,60.1,61.0,62.6,63.8,...,66.0,62.5,62.8,66.0,70.0,70.3,69.7,70.9,71.5,71.9
Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.3,45.9,48.9,...,59.3,48.5,49.2,48.4,50.1,49.7,49.7,46.1,47.0,52.4
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9,8.1,10.8,...,42.3,46.6,38.1,41.1,37.1,39.7,35.6,35.7,33.7,40.0
Netherlands,55.2,62.4,63.6,58.8,56.0,57.4,56.4,58.5,59.4,70.2,...,71.9,69.3,70.4,70.5,71.7,72.6,78.1,79.4,80.7,NaN
Austria,64.5,64.9,65.6,69.4,64.3,65.9,64.2,66.2,66.9,68.4,...,65.8,65.9,66.6,66.6,67.1,66.8,65.6,65.5,65.4,63.7
Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.3,29.5,37.1,...,41.2,41.4,36.1,55.4,57.6,58.0,56.7,58.7,55.5,NaN
Portugal,NaN,34.8,34.9,30.8,37.7,35.8,38.3,41.0,44.3,51.4,...,58.4,56.9,61.5,61.0,57.1,60.9,55.3,57.9,62.8,59.8
Romania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,28.6,...,50.0,56.8,52.8,54.8,55.9,60.4,60.4,57.9,44.6,NaN
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.3,45.3,40.3,...,63.6,66.9,69.0,70.4,67.0,69.4,70.1,68.0,67.1,67.9
Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,36.3,37.6,29.8,36.3,...,62.4,68.1,65.9,65.4,64.3,65.8,65.7,66.6,67.5,70.8
Finland,41.7,44.6,49.5,49.8,47.2,49.2,40.8,39.9,43.2,49.1,...,58.7,59.3,58.0,57.4,60.9,64.7,65.2,70.2,70.6,NaN
Sweden,57.9,74.9,65.1,57.8,63.2,64.7,60.0,49.8,48.2,58.1,...,71.5,69.6,71.9,70.5,71.8,68.2,71.7,65.0,63.6,60.9
Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,40.7,42.9,42.8,47.4,47.2,44.4,51.2,47.4,NaN
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.9,...,48.7,44.3,50.3,51.9,66.1,65.8,66.7,68.0,70.0,NaN
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.3,...,57.5,55.9,54.5,55.7,55.1,56.3,54.5,52.9,53.9,NaN
United Kingdom,24.1,28.2,35.3,39.9,42.4,44.2,46.8,49.7,54.4,57.5,...,60.8,61.4,64.6,59.2,60.6,64.7,63.9,62.1,NaN,NaN
Northern Ireland (UK),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.4,NaN

In [47]:
from sqlalchemy import text

# Define the SQL query as a text object
sql_query = text("SELECT * FROM data WHERE _1998 = 63.5")

# Execute the SQL query and read the result into a DataFrame
pd.read_sql(sql_query, connection)

,TIME,_1997,_1998,_1999,_2000,_2001,_2002,_2003,_2004,_2005,...,_2011,_2012,_2013,_2014,_2015,_2016,_2017,_2018,_2019,_2020
0,Belgium,62.3,63.5,59.4,62.5,71.3,70.2,73.9,76.4,76.8,...,80.2,80.3,78.7,81.3,81.5,81.9,83.8,85.3,83.5,79.7

<img src="https://images.unsplash.com/photo-1633828763399-e29f1cd3f4c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" width="1000px"/>